* {
  margin: 0;
  font-size: 16px;
  font-family: haas;
  line-height: 1.2rem;
}

:root {
  --space: 0.7rem;
  --blue: rgba(52, 79, 254, 0.821);
  /* --space: 10px; */
}

a {
  /* color: rgb(140, 140, 240); */
  color: black;
  text-decoration: none;
}

p {
  /* padding-top: 0.5rem; */
  padding-bottom: var(--space);
}

img {
  width: 100%;
  padding-bottom: 0.5rem;
}

@font-face {
  font-family: fira_reg;
  src: url(fonts/fira_code/FiraCode-Regular.ttf);
}

@font-face {
  font-family: aktual;
  src: url(fonts/aktual.woff2);
}

@font-face {
  font-family: haas;
  src: url(fonts/haas.woff);
}

.container {
  /* background-color: lightgray; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  /* padding: 1rem; */
  /* gap: var(--space); */
  @media screen and (max-width: 640px) {
    flex-direction: column;
    overflow-x: hidden;
  }
}
/* LEFT COLUMN LEFT COLUMN LEFT COLUMN LEFT COLUMN  */
/* LEFT COLUMN LEFT COLUMN LEFT COLUMN LEFT COLUMN  */
/* LEFT COLUMN LEFT COLUMN LEFT COLUMN LEFT COLUMN  */
.left-column {
  /* background-color: lightblue; */
  width: 50%;
  /* font-family: fira_reg; */
  font-size: 0.95rem;
  line-height: 1.1rem;
  @media screen and (max-width: 640px) {
    width: 100%;
    padding-bottom: 2rem;
  }
}

.project-content {
  display: none;
  padding-top: var(--space);
  padding-left: var(--space);
}

.project-content-body {
  position: relative;
  top: 60px;
}

.photo-caption {
  margin-top: -0.7rem;
  font-size: 0.7rem;
}

iframe {
  width: 98.5%;
  height: 700px;
  border: 1px black;
}

/* RIGHT COLUMN RIGHT COLUMN RIGHT COLUMN RIGHT COLUMN  */
/* RIGHT COLUMN RIGHT COLUMN RIGHT COLUMN RIGHT COLUMN  */
/* RIGHT COLUMN RIGHT COLUMN RIGHT COLUMN RIGHT COLUMN  */
.right-column {
  width: 50%;
  @media screen and (max-width: 640px) {
    width: 100%;
  }
}

.info {
  padding-bottom: 3rem;
}

.info-span:hover {
  background-color: var(--blue);
  /* padding: -0.3em 0; */
}

.info-content {
  padding-top: var(--space);
  padding-left: var(--space);
}

.project-item {
  position: relative;
  top: 60px;
  cursor: pointer;
  font-size: 2.2rem;
  line-height: 2.3rem;
}

.project-item:hover {
  background-color: var(--blue);
}

.project-item.active {
  background-color: var(--blue);
  padding: -0.3em 0;
}
