@font-face {
  font-family: "plain-regular";
  src: url("fonts/Plain-Regular.woff");
}

@font-face {
  font-family: "circular";
  src: url("fonts/CircularXXWeb-Book.woff");
}

@font-face {
  font-family: "neuhe";
  src: url("fonts/NeueHaasGrotText-75Bold.woff2");
}

* {
  background-color: rgb(236, 236, 236);
  padding-left: 2px;
  margin-top: 0px;
  font-family: circular;
}

body {
  cursor: url("images/BlackDot.svg"), auto;
  border-top: 100px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(100, 100, 250);
}

body {
  margin-left: 2px;
  padding: 0;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
}

img {
  margin-top: 6px;
}

.navbar {
  cursor: inherit;

  position: fixed;
  right: 0;
  width: 20%;
  background-color: white;
  height: 100vh;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  /* margin-bottom: 8px; */
  background-color: white;
}

.navbar li a {
  text-decoration: none;
  color: black;
  background-color: white;
}

.navbar a:hover {
  color: #4169e1;
}

.navbar a.selected {
  color: #4169e1;
}

.content {
  cursor: inherit;
  /* top: 0; */
  margin-right: 20%;

  /* padding: 20px; */
}

h2 {
  /* margin-top: 0; */
  font-family: neuhe;
}
